/* .App {
  text-align: center;
} */

/* * {
  font-family: "Verdana", cursive, sans-serif;
}

body {
  background-color: #7aa5d2;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
} */

.home {
  background-color: white;
  width: 350px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.playQuiz {
  background-color: skyblue;
  height: 100vh;
}

.playQuizContainer {
  text-align: center;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 30vw;
  padding: 50px 55px;
  margin-bottom: 15px;
  border-radius: 15px;
}

.profile {
  background-color: white;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.leaderboard {
  background-color: white;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
  justify-content: center;
}

.text-dark {
  color: var(--color-dark);
}

.quiz {
  background-color: white;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.quizMenu {
  background-color: white;
  width: 400px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.quizAnswerSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homeBtn {
  border-radius: 15px;
}

.quizScore {
  background-color: white;
  width: 350px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.quizTopText {
  text-align: center;
}

.navQuizBtn {
  border-radius: 15px;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
  border-width: 3px;
}

.optionBtn {
  border-radius: 15px;
  background-color: white;
  color: #0074d9;
  border-width: 3px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.optionBtn:active {
  background-color: #0074d9;
}

.pageNotFound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
